webservice/axis-demo02/src/example/DemoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://example" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://example" xmlns:intf="http://example" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://example" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="index" type="xsd:int"/>
   <element name="getElementReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="getElementRequest">

      <wsdl:part element="impl:index" name="index"/>

   </wsdl:message>

   <wsdl:message name="getElementResponse">

      <wsdl:part element="impl:getElementReturn" name="getElementReturn"/>

   </wsdl:message>

   <wsdl:portType name="DemoService">

      <wsdl:operation name="getElement" parameterOrder="index">

         <wsdl:input message="impl:getElementRequest" name="getElementRequest"/>

         <wsdl:output message="impl:getElementResponse" name="getElementResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DemoServiceSoapBinding" type="impl:DemoService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getElement">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getElementRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getElementResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DemoServiceService">

      <wsdl:port binding="impl:DemoServiceSoapBinding" name="DemoService">

         <wsdlsoap:address location="http://localhost:8080//services/example/DemoService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
